// custom imports
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Rubik:400,500,700');

// custom variables
$family-sans-serif: "Karla", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;
$family-secondary: "Rubik", BlinkMacSystemFont, -apple-system, "Helvetica", "Arial", sans-serif;

// background image
.has-bg-color1 {
  background-color: #ffe684;
  background-size: cover;
}

.navbar-margin {
  margin-bottom: 100px;
}

.has-border-shadow {
  -webkit-box-shadow: 0 1px 1px #720000;
  -moz-box-shadow: 0 1px 1px #720000;
  box-shadow: 0 1px 1px #720000;
}


// navbar
$navbar-tab-hover-border-bottom-color: #720000;
$navbar-item-img-max-height: 5.00rem;
$navbar-height: 5.00rem;
// colors
$red: #720000;

// bulma import
@import "node_modules/bulma/bulma";
